doctype html
html
  head
    title= 'Pipeline Graphs'
    link(href='/stylesheets/blueocean.css', rel='stylesheet')
    link(href='/stylesheets/blueocean-core-js.css', rel='stylesheet')
    link(href='/stylesheets/jenkins-design-language.css', rel='stylesheet')

  body
    block content
